body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f1f3f6;
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, #d84e55, #ff6b6b);
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Search Section */
.search {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.search input {
    padding: 12px;
    margin: 8px;
    width: 180px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search button {
    padding: 12px 20px;
    background: #d84e55;
    color: white;
    border: none;
    border-radius: 8px;
}

/* Bus Cards */
.bus-card {
    background: white;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.bus-card h3 {
    margin: 0;
}

.bus-card button {
    margin-top: 10px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
}

/* Seat Layout (REAL BUS STYLE) */
#busLayout {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 12px;
    justify-content: center;
    margin: 20px;
}

.seat {
    background: #ddd;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.seat:hover {
    transform: scale(1.1);
}

.selected {
    background: orange;
}

.booked {
    background: red;
    cursor: not-allowed;
}

/* Ticket */
#ticket {
    background: white;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border-radius: 12px;
    border-left: 6px solid green;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* History */
#history {
    background: white;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border-radius: 12px;
}
