body {
    font-family: Arial;
    margin: 0;
    background: #f0f0f0;
}

/* Navbar */
.navbar {
    background: #d84e55;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Search */
.search {
    background: white;
    padding: 20px;
    text-align: center;
}

.search input {
    padding: 10px;
    margin: 5px;
}

.search button {
    background: #d84e55;
    color: white;
    padding: 10px;
    border: none;
}

/* Bus card */
.bus-card {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

/* Bus Layout */
#busLayout {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.seat {
    background: #ccc;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.selected {
    background: orange;
}

.booked {
    background: red;
    cursor: not-allowed;
}

/* Button */
.book-btn {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    display: block;
    margin: 20px auto;
}

/* Ticket */
#ticket {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

/* History */
#history {
    background: white;
    margin: 20px;
    padding: 15px;
}
